<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h3><%= link_to 'Boxes', boxes_path %> &mdash; Create Box</h3>
    </div>
  </div>
</div>
</div class='container'>
  <%= render 'form', box: @box %>
</div>
